@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700;800;900&display=swap');

@theme {
  --font-sans: "Public Sans", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #ec5b13;
  --color-background-light: #f8f6f6;
  --color-background-dark: #221610;
}

@layer base {
  body {
    @apply bg-background-light text-slate-900 antialiased transition-colors duration-300;
  }
  .dark body {
    @apply bg-background-dark text-slate-100;
  }
}
